*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

html{ 
    font-size: 62.5%;
    color: black;
    font-family: 'Lato', sans-serif;
}

body{
   background:url(trabalho-de-ingles/body.jpg);
   background-position: center center;
   background-size: cover;
   background-position-y:0px ;
   background-repeat: no-repeat;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
h1{

    font-size: 3rem;
    font-style: italic;
    color: rgb(205, 205, 205);
    text-shadow: 4px 2px 3px rgb(0, 0, 0);
    max-width: 1150px;
    text-align: center;
}



main a{
    position: relative;
    display: inline-block;
    font-size: 1.5em;
    letter-spacing: .1em;
    color: gray;
    text-decoration: none;
    text-transform: uppercase;
    border: 2px solid gray;
    padding: 10px 30px;
    z-index: 1; 
    overflow: hidden;
    transition: color 1s,box-shadow 1s;
}
  
main a:hover{
    transition-delay: 0s, 1s;
    color: #fff;
    box-shadow:
    0 0 10px red,
    0 0 20px red,
    0 0 40px red,
    0 0 80px red,
    0 0 160px red;
}

main a::before {
    content: ' ';
    position: absolute;
    top: 0;
    left: -50px;
    width: 0;
    height: 100%;
    background: rgba(164, 152, 152, 0.32);
    transform: skew(35deg);
    z-index: -1;
    transition: 1s;
}

main a:hover:before{
    width: 100%;
}

footer{
  width: 100%;
  position: absolute;
  bottom:0;
  padding: 10px;
 
}

footer p, footer a{
    left: auto;
  text-align: center;
  text-decoration: none;
  color: rgb(255, 251, 251);
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  font-style: normal;
}